@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}
html, body, div, span, h1, h3, p, a, img, strong, ul, li, footer, header, section { margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; }
footer, header, section { display: block; }
body { line-height: 1; }
ul { list-style: none; }
body { }
*, ::before, ::after { box-sizing: border-box; }
body { }
body { background: linear-gradient(teal, lightgreen); }
body { color: rgba(255, 255, 255, 0.65098); font-family: 'Source Sans Pro', Helvetica, sans-serif; font-size: 13pt; font-weight: 200; line-height: 1.65; }
a { color: inherit; text-decoration: none; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgba(255, 255, 255, 0.34902); transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out; }
a:hover { color: rgb(255, 255, 255); border-bottom-color: transparent; }
strong { color: rgb(255, 255, 255); font-weight: 200; }
p { margin: 0px 0px 2em; }
h1, h3 { color: rgb(255, 255, 255); font-weight: 200; line-height: 1.5; margin: 0px 0px 1em; }
h1 a { color: inherit; text-decoration: none; }
h1 { font-size: 1.75em; }
h3 { font-size: 1em; }
.icon { text-decoration: none; border-bottom-style: none; position: relative; }
.icon::before { -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal; font-weight: normal; text-transform: none !important; }
.icon > .label { display: none; }
.icon.style2 { transition: all 0.2s ease; border-radius: 100%; display: inline-block; padding: 0.5em; border: 1px solid rgba(255, 255, 255, 0.247059); background-color: rgba(255, 255, 255, 0.0745098); }
.icon.style2::before { display: block; width: 1.25em; height: 1.25em; line-height: 1.25em; font-size: 1.35em; }
.icon.style2:hover { background-color: rgba(255, 255, 255, 0.247059); }
ul { list-style: disc; margin: 0px 0px 2em; padding-left: 1em; }
ul li { padding-left: 0.5em; }
ul.icons { cursor: default; list-style: none; padding-left: 0px; }
ul.icons li { display: inline-block; padding: 0px 1em 0px 0px; }
ul.icons li:last-child { padding-right: 0px; }
.thumbnails { display: flex; flex-direction: row; position: relative; margin: 0px 0px 2em -2em; }
.thumbnails a { transition: all 0.2s ease; border-bottom-style: none; display: block; width: 100%; margin: 0px 0px 2em; text-align: center; border-radius: 4px; box-shadow: rgba(255, 255, 255, 0.247059) 0px 0px 0px 1px inset; cursor: pointer; outline: 0px; overflow: hidden; background-color: rgba(255, 255, 255, 0.0745098); }
.thumbnails a img { display: block; width: 100%; border-top-left-radius: 4px; border-top-right-radius: 4px; }
.thumbnails a h3 { margin: 1em; }
.thumbnails a:hover { box-shadow: rgba(255, 255, 255, 0.247059) 0px 0px 0px 1px inset, rgb(255, 99, 130) 0px 0px 0.5em 0px; background-color: rgba(255, 255, 255, 0.247059); }
.thumbnails > div { display: flex; flex-direction: column; width: calc(33.3333%); padding-left: 2em; }
.thumbnails > div > :last-child { margin-bottom: 0px; }
.poptrox-popup { box-sizing: content-box; box-shadow: rgba(0, 0, 0, 0.247059) 0px 0.5em 3em 0px; border-radius: 4px; overflow: hidden; background: rgba(255, 255, 255, 0.247059); }
.poptrox-popup .closer { transition: opacity 0.2s ease-in-out; text-decoration: none; position: absolute; top: 1em; right: 1em; z-index: 2; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); white-space: nowrap; text-indent: 2.5em; overflow: hidden; width: 2.5em; height: 2.5em; display: block; }
.poptrox-popup .closer::before { content: "X"; -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal; font-weight: normal; text-transform: none !important; }
.poptrox-popup .closer::before { display: block; position: relative; text-indent: 0px; border-radius: 100%; box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px inset; width: 2.5em; height: 2.5em; line-height: 2.5em; color: rgb(255, 255, 255) !important; }
.poptrox-popup:hover .closer { opacity: 0.5; }
.poptrox-popup:hover .closer:hover { opacity: 1; }
#wrapper { max-width: 68em; width: 100%; margin: 0px auto; padding: 0px 2em; opacity: 1; filter: none; transition: opacity 1s ease, filter 1s ease; }
#header { text-align: center; padding: 6em 0px 4em; }
#header h1 { color: rgba(255, 255, 255, 0.65098); }
#header .avatar { border-radius: 100%; display: inline-block; margin: 0px 0px 2em; padding: 0.5em; border: 1px solid rgba(255, 255, 255, 0.247059); background-color: rgba(255, 255, 255, 0.0745098); }
#header .avatar img { border-radius: 100%; display: block; width: 10em; }
#footer { text-align: center; padding: 4em 0px; }
#footer::before { content: ""; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(255, 255, 255, 0.247059); width: 10em; display: block; margin: 0px auto 3em; }
.fa-envelope-o::before { content: ""; }
.fa-twitter::before { content: ""; }
.fa-facebook-f::before, .fa-facebook::before { content: ""; }
.fa-instagram::before { content: ""; }
.fa-500px::before { content: ""; }